table {
	border-collapse: collapse;
}

td {
	border: thin black solid;
	padding: 0.2em;
}

.date-overdue {
	color: #900;
}

.date-current {
	color: #090;
}

.date-future {
	color: #999;
}

.date-soon {
    color: #009;
}